@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="container-fluid banner">
        
        <div class="row details align-items-end">
            <div class="col-lg-6 bannerDescription my-5 p-5">
                <h2>Crash Landing On You</h2>
                <p><i class="bi bi-badge-hd"> </i> <i class="bi bi-badge-cc"> </i></p>
                
                <p>Yoon Se-Ri (Son Ye-Jin) é uma herdeira de um conglomerado na Coréia do Sul. Um dia, enquanto voava de parapente, um acidente causado por ventos fortes leva Yoon Se-Ri a fazer um pouso de emergência na Coréia do Norte. Lá, ela conhece Lee Jung-Hyeok (Hyun-Bin), que é um oficial do exército norte-coreano. Ele tenta protegê-la e escondê-la. Logo, Lee Jung-Hyeok se apaixona por Yoon Se-Ri.</p>
                
                <div class="container"></div>
                <div class="row gap-4 d-flex my-5 justify-content-center">
                    <button class="col-md-8 btn btn-play fs-4"><i class="bi bi-play-circle"> </i> Assistir Agora</button>
                    <button class="col-md-3 fs-4"><i class="bi bi-film"></i> Trailer</button>

                </div>
            </div>
         </div>
    </section>

    <section class="container mt-5 text-light">
        <h2 class="mb-5 text-center">Os Melhores conteúdos para você!</h2>
        <div class="row conteudo ">
            <div class="col-md-4 text-center">
                <img src="https://i0.wp.com/thefangirlverdict.com/wp-content/uploads/2022/11/Love-Between-Fairy-And-Devil-030.jpeg?resize=764%2C589&ssl=1" class="card-img-top rounded-circle mb-2" alt="...">
                <h3>Chineses</h3>
            </div>

            <div class="col-md-4 rounded-circle text-center">
                <img src="https://steamuserimages-a.akamaihd.net/ugc/1911242992199820155/7A7DED414242AA9F21E4ACC585596047DDE6BB1B/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" class="card-img-top rounded-circle mb-2" alt="...">
                <h3>Japoneses</h3>
            </div>

            <div class="col-md-4 rounded-circle text-center">
                <img src="https://c-fa.cdn.smule.com/smule-gg-s-sf-bck1/arr/6d/a7/dc81e676-b05b-4845-ab89-2e0d89790f9c.jpg" class="card-img-top rounded-circle mb-2" alt="...">
                <h3>Coreanos</h3>
            </div>
        </div>
    </section>



    <section class="container my-5">

        <div class="row align-items-center h-100">
            <h2 class="text-center text-light">Escolha seu plano</h2>
            <div class="col-md-4">
                <img src="https://64.media.tumblr.com/bb37390c2d5c63cb6e6446b174f8f5ae/e51ac48a66b9c80a-46/s1280x1920/e7f29bbaa91790bc301525ebbb958c3840279785.gifv" width="100%"/>

            </div>

            <div class="col-md-8 my-5">
                <div class="card-group cardPlanos gap-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Mensal</h3>
                            <h2 class="card-subtitle mb-2 text-center text-body-secondary mb-5">R$ 28,99/mês</h2>
                            <ul class="list-group list-group-flush mt-4">
                                <li class="list-group-item">Sem anúncios</li>
                                <li class="list-group-item">Acesso à biblioteca da AsianWiki com mais de 1.000 programas e filmes asiáticos</li>
                                <li class="list-group-item">Assista em HD (720p)</li>
                                <li class="list-group-item">Assista na TV com dispositivos compatíveis</li>

                            </ul>
                        </div>
                        <button class="btn btn-planoMensal p-3">Assine Agora</button>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Anual</h3>
                            <h2 class="card-subtitle text-center mb-2 text-body-secondary">R$ 251,88/ano</h2>
                            <p class="card-text text-center">equivalente a R$ 20,99/mês</p>
                            <ul class="list-group list-group-flush mt-4">
                                <li class="list-group-item">Sem anúncios</li>
                                <li class="list-group-item">Acesso à biblioteca da AsianWiki com mais de 1.000 programas e filmes asiáticos</li>
                                <li class="list-group-item">Assista em Full HD (1080p)</li>
                                <li class="list-group-item">Assista na TV com dispositivos compatíveis</li>
                                <li class="list-group-item">Assista em 4 dispositivos ao mesmo tempo</li>
                                <li class="list-group-item">Baixe e assista em qualquer lugar</li>
                            </ul>
                        </div>
                        <button class="btn btn-planoAnual mt-5 p-3">Assine Agora</button>
                    </div>

                </div>
            </div>
        </div>
    </section>


</main>
